@use '../themes' as *;
@use 'functions' as *;

@mixin flex($jc: null, $ai: null, $gr: 0, $gc: 0) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
    align-items: $ai;
    gap: $gr $gc;
}

@mixin typography($ff, $fs, $fw, $lh, $ls: null) {
    font-family: unquote($ff);
    font-size: crem($fs);
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin grid-autofill($min-width, $gc: 0px, $gr: 0px, $variant: auto-fill) {
    display: grid;
    grid-template-columns: repeat($variant, minmax($min-width, 1fr));
    gap: crem($gc) crem($gr);
}

@mixin color($property, $color) {
    #{$property}: var(--#{$color}, map-get($colors, $color));
}